<%= form_for(@code_snippet) do |f| %>
  <% if @code_snippet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@code_snippet.errors.count, "error") %> prohibited this code_snippet from being saved:</h2>

      <ul>
      <% @code_snippet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "form-group">
    <%= f.label :language_id %>
    <%= f.collection_select :language_id, Language.all, :id, :name, {}, class: "form-control" %> 
    <!--f. means leave out ":post" object in first paramter-->
  </div>
 
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :work %><br>
    <%= f.text_area :work, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>
