<p id="notice"><%= notice %></p>

<h1>Listing Code Snippets</h1>

<table>
  <thead>
    <tr>
      <th>Language</th>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @code_snippets.each do |code_snippet| %>
      <tr>
        <td><%= code_snippet.language.name %></td>
        <td><%= code_snippet.title %></td>
        <td><%= code_snippet.work %></td>
        <td><%= link_to 'Show', code_snippet %></td>
        <td><%= link_to 'Edit', edit_code_snippet_path(code_snippet) %></td>
        <td><%= link_to 'Delete', code_snippet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Code snippet', new_code_snippet_path %>
